.card {
    border-style: solid;
    border-width: 8px;
    padding: 20%;
    background-color: #c4b1d0;
  }

  .btn-primary {
    --bs-btn-color: #281818;
    --bs-btn-bg: #9460b5;
    --bs-btn-border-color: #a292ac;}