
<form [formGroup]="form" class="mx-auto p-2" style="width: 600px;" class="position-absolute top-50 start-50 translate-middle">
  <div class="card">
  <h1>Freelancer's</h1>  
  
  <h1>Log In:</h1>
<div class="form-outline mb-4">
    <input type="text" id="form3Example1cg" formControlName="email" class="form-control form-control-lg" />
    <label class="form-label" for="form3Example1cg">Email</label>
  </div>
  <div class="form-outline mb-4">
    <input type="password" id="form3Example1cg" formControlName="password" class="form-control form-control-lg" />
    <label class="form-label" for="form3Example1cg">Password</label>
  </div>
  <button type="submit" class="btn btn-primary"(click)="login()">Sign in </button>
<a routerLink="register">Register</a>
</div>
</form>

