<!-- navbar -->
<app-navbar></app-navbar>



<!-- body -->

<div class="container">

  <!-- form starts here -->
  <div class="container-flud mt-5" [formGroup]="form">
    <div class="row mt-4">
      <input type="text" class="form-control" placeholder="enter" aria-describedby="button-addon2"
        formControlName="name">

      <input type="text" class="form-control" placeholder="enter" aria-describedby="button-addon2"
        formControlName="number">
      <button class="btn btn-outline-sucesss" type="button" class="btn btn-primary" (click)="create()">Add</button>
    </div>
  </div>
  <!-- form ends here -->





  <!-- list starts here -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Number</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody *ngFor="let task of tasks;  let i =index">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{task.name}}</td>

        <td>
          <!-- number here -->
          {{task.number}}
        </td>
        <td>
          <!--buttons here  -->
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Edit
          </button>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <input type="text" class="form-control" 
                    [(ngModel)]="task.name">

                  <input type="text" class="form-control mt-3" 
                    [(ngModel)]="task.number">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Update</button>
                </div>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-secondary" class="btn btn-primary"
            (click)="delete(task?._id)">Delete</button>


        </td>

      </tr>
    </tbody>
  </table>

  <!-- list ends here -->